#main {
	margin:auto;
	margin-top: 10em;
	/* border:solid red 2px; */
	/* width: 5.5em; */
	width: 220px;
}

body {
	background-color: black;
	/* font-size: 1.3em; */
	font-size: 20px;
	font-family: Courier New;
}

a {
	color: white;
    text-decoration: none;
    font-size: 24px;
}

div {
	color: white;
	text-decoration: none;
}
